.top {
    overflow: hidden;
    align-items: center;
    background-color: white;
    color: black;
    margin: 0px;
    padding: 0px;
}

.overlay_box {
background-color: white;
overflow: hidden;

}

.overlay_box img {
    position: absolute;
    left: 0px;
    padding: 0px;
    margin: 0px;
}