.top {
    border: 1px solid black;
    overflow: hidden;
    align-items: center;
    background-color: white;
    color: black;
    margin: 0px;
    padding: 0px;
}

.logo {
    padding: 0;
    margin: 0;
}

.reservation {
    border-radius: 12px;
    color: white;
    background-color: #a8b8bf;
    padding: 8px 15px;
    text-decoration: none;

    transition: transform 0.2s ease, background-color 0.2s ease;
}

.reservation:hover {
    transform: scale(1.1);
    }

.Specials {
    background-color: #99826d;
    color: black;
    box-shadow: 0px 0px 10px black;
}

.Specials h1 {
    margin: 0px 150px;
    padding: 20px 0px;
    border: 0px;
    border-bottom: solid 2px;
}

.Specials p {
    margin: 0px;
    padding: 20px 0px;
}